.build/
DerivedData/
Murmur.xcodeproj/*
!Murmur.xcodeproj/project.xcworkspace/
Murmur.xcodeproj/project.xcworkspace/*
!Murmur.xcodeproj/project.xcworkspace/xcshareddata/
Murmur.xcodeproj/project.xcworkspace/xcshareddata/*
!Murmur.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
Murmur.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/*
!Murmur.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
*.xcuserstate
.DS_Store

release/
.env
.env.*
*.p12
*.mobileprovision
